On supprime l'index, on change le deuxième 'SeriousQldin2yrs' en 'Prediction', ainsi on va pouvoir le comparer au 1er afin d'avoir le taux d'erreur et construire une matrice de confusion

In [40]:
from bigml.api import BigML
import numpy as np
from pandas import DataFrame, read_csv

prediction=read_csv('./BatchPrediction/GMSCfulltrainm_Prediction_Ensemble_v2.csv', index_col=0)
prediction.columns.values[1]='Pred'
prediction.insert(1,"Type_Error","")

In [41]:
def fctError(row):
    if row['SeriousDlqin2yrs']==1 and row['Pred']==0:
        row['Type_Error']='FN'
    if row['SeriousDlqin2yrs']==0 and row['Pred']==1:
        row['Type_Error']='FP'
    if row['SeriousDlqin2yrs']==1 and row['Pred']==1:
        row['Type_Error']='TP'
    if row['SeriousDlqin2yrs']==0 and row['Pred']==0:
        row['Type_Error']='TN'
    return row

In [42]:
prediction['Type_Error']=prediction[['Type_Error', 'SeriousDlqin2yrs', 'Pred']].apply(fctError, axis=1)

In [43]:
fullprediction[:20]

     SeriousDlqin2yrs Type_Error  Prediction
Id
5                   0         TN           0
20                  0         TN           0
27                  0         TN           0
28                  0         TN           0
31                  0         TN           0
50                  0         TN           0
51                  0         TN           0
61                  0         TN           0
74                  0         TN           0
84                  0         TN           0
87                  0         TN           0
89                  1         FN           0
93                  0         TN           0
96                  0         TN           0
101                 0         TN           0
114                 0         TN           0
123                 0         TN           0
125                 0         TN           0
141                 0         TN           0
142                 0         TN           0

On peut dénombrer les FN, FP, TP et TN grâce à la fonction .value_counts()

In [50]:
Number_Error = prediction['Type_Error'].value_counts()
print(Number_Error)

TN    27750
FN     1690
TP      325
FP      235
Name: Type_Error, dtype: int64