# Give Me Some Credit !

On importe nos librairies/modules et on read nos fichiers csv de test et de train :

In [66]:
from bigml.api import BigML
import numpy as np
from pandas import DataFrame, read_csv

fulltrain=read_csv('./cs-training.csv')
test=read_csv('./cs-test.csv')
print("List of all the column names:\n")

for col in fulltrain.columns:
    print(col)

List of all the column names:

Unnamed: 0
SeriousDlqin2yrs
RevolvingUtilizationOfUnsecuredLines
age
NumberOfTime30-59DaysPastDueNotWorse
DebtRatio
MonthlyIncome
NumberOfOpenCreditLinesAndLoans
NumberOfTimes90DaysLate
NumberRealEstateLoansOrLines
NumberOfTime60-89DaysPastDueNotWorse
NumberOfDependents

Nous allons opérer sur le fichier fulltrain et le fichier test en même temps pour apporter des modifications aux deux en même temps :

In [67]:
# On renomme la première colonne actuellement sans nom, en 'Id'

for df in [fulltrain, test]:
    df.columns.values[0]='Id'

On crée une nouvelle colonne 'MonthlyDebt', avec la fonction '.insert' on va pouvoir insérer cette nouvelle colonne en 7e position par exemple (0 étant la 1re position) juste après 'DebtRatio' et mettre comme valeurs par défaut '0' sur chaque ligne.

In [68]:
# Méthode insert(loc, column, value, allow_duplicates=False)

for df in [fulltrain, test]:
    df.insert(6,"MonthlyDebt",0)
    
# On affiche les 20 premières lignes afin de vérifier la création de notre nouvelle colonne dans notre tableau
    
fulltrain.head(20)

,Id,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyDebt,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,0,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,0,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,0,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,0,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,0,63588.0,7,0,1,0,0.0
5,6,0,0.213179,74,0,0.375607,0,3500.0,3,0,1,0,1.0
6,7,0,0.305682,57,0,5710.000000,0,NaN,8,0,3,0,0.0
7,8,0,0.754464,39,0,0.209940,0,3500.0,8,0,0,0,0.0
8,9,0,0.116951,27,0,46.000000,0,NaN,2,0,0,0,NaN
9,10,0,0.189169,57,0,0.606291,0,23684.0,9,0,4,0,2.0
10,11,0,0.644226,30,0,0.309476,0,2500.0,5,0,0,0,0.0
11,12,0,0.018798,51,0,0.531529,0,6501.0,7,0,2,0,2.0
12,13,0,0.010352,46,0,0.298354,0,12454.0,13,0,2,0,2.0
13,14,1,0.964673,40,3,0.382965,0,13700.0,9,3,1,1,2.0
14,15,0,0.019657,76,0,477.000000,0,0.0,6,0,1,0,0.0
15,16,0,0.548458,64,0,0.209892,0,11362.0,7,0,1,0,2.0
16,17,0,0.061086,78,0,2058.000000,0,NaN,10,0,2,0,0.0
17,18,0,0.166284,53,0,0.188274,0,8800.0,7,0,0,0,0.0
18,19,0,0.221813,43,0,0.527888,0,3280.0,7,0,1,0,2.0
19,20,0,0.602794,25,0,0.065868,0,333.0,2,0,0,0,0.0

On définit la fonction MonthlyDebtCalc que l'on pourra appliquer sur notre colonne correspondante. On regarde DebtRatio, si on a un résultat dans cette colonne qui est supérieur à 100, on remplace la valeur correspondante dans la colonne MonthlyDebt par cette valeur. Sinon, on multiplie DebtRatio par MonthlyIncome puis on remplace la valeur obtenue toujours dans notre colonne MonthlyDebt.

In [69]:
# Méthode apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)

def MonthlyDebtCalc(row):
    if row['DebtRatio'] > 100:
        row['MonthlyDebt']=row['DebtRatio']
    else:
        row['MonthlyDebt']=row['DebtRatio']*row['MonthlyIncome']
    return row

In [70]:
# On utilise notre fonction MonthlyDebtCalc avec apply

for df in [fulltrain, test]:
    df['MonthlyDebt']=df[['MonthlyDebt','DebtRatio','MonthlyIncome']].apply(MonthlyDebtCalc, axis=1)

In [71]:
# On regarde les 20 premières lignes de la colonne demandée

fulltrain['MonthlyDebt'].head(20)

0      7323.197016
1       316.878123
2       258.914887
3       118.963951
4      1584.975094
5      1314.624392
6      5710.000000
7       734.790059
8              NaN
9     14359.393699
10      773.690525
11     3455.468469
12     3715.701650
13     5246.617034
14      477.000000
15     2384.790109
16     2058.000000
17     1656.811728
18     1731.472112
19       21.934132
Name: MonthlyDebt, dtype: float64

Création d'une colonne 'IsOld' par raport à 'age'. Celle-ci définira dans notre colonne si la personne correspondante est âgée de plus de 70 ans ou non.

In [72]:
# Nouvelle colonne IsOld par rapport à 'age'

for df in [fulltrain, test]:
    df.insert(4,"IsOld",0)

On définit notre fonction AgeCalc. Si la valeur dans 'age' est strictement supérieure à 70, la valeur dans 'IsOld' sera 1, dans si elle est inférieure à 70, cette valeur sera 0 dans la colonne 'IsOld'.

In [73]:
# Fonction AgeCalc qui définit si la personne est âgé de plus de 70ans ou non

def AgeCalc(row):
    if row['age'] > 70:
        row['IsOld']=1
    else:
        row['IsOld']=0
    return row

In [74]:
# On utilise notre fonction avec la méthode apply sur IsOld

for df in [fulltrain, test]:
    df['IsOld']=df[['IsOld','age']].apply(AgeCalc,axis=1)

Dans nos colonnes 'NumberOfTime...' on retrouve plusieurs valeurs aberrantes (96,98), on va donc les remplacer par NaN.

In [75]:
# Changer les valeurs aberrantes '96' et '98' des colonnes NumberOfTime par NaN

for df in [fulltrain, test]:
    df['NumberOfTime30-59DaysPastDueNotWorse']=df['NumberOfTime30-59DaysPastDueNotWorse'].replace(96,np.nan)
    df['NumberOfTime30-59DaysPastDueNotWorse']=df['NumberOfTime30-59DaysPastDueNotWorse'].replace(98,np.nan)
    df['NumberOfTime60-89DaysPastDueNotWorse']=df['NumberOfTime60-89DaysPastDueNotWorse'].replace(96,np.nan)
    df['NumberOfTime60-89DaysPastDueNotWorse']=df['NumberOfTime60-89DaysPastDueNotWorse'].replace(98,np.nan)
    df['NumberOfTimes90DaysLate']=df['NumberOfTimes90DaysLate'].replace(96,np.nan)
    df['NumberOfTimes90DaysLate']=df['NumberOfTimes90DaysLate'].replace(98,np.nan)

On crée la colonne MonthlyPerPerson.

In [76]:
# Création colonne 'MonthlyPerPerson'

for df in [fulltrain, test]:
    df.insert(10,"MonthlyPerPerson",0)
    df['MonthlyPerPerson'] = df['MonthlyIncome'] / ( df['NumberOfDependents'] + 1 )

On créé la colonne 'MonthlyBalance' qui est la différence entre 'MonthlyIncome' et 'MonthlyPerPerson'.

In [77]:
# Création de la colonne 'MonthlyBalance'

for df in [fulltrain, test]:
    df.insert(11,"MonthlyBalance",0)
    df['MonthlyBalance'] = df['MonthlyIncome'] - df['MonthlyPerPerson']

On souhaite changer les valeurs NaN de notre colonne 'NumberOfDependents' par des 0, on utilise la fonction '.fillna(0)'.

In [78]:
# Remplacer les valeurs NA de la colonne NumberOfDependents par 0

for df in [fulltrain, test]:
    df['NumberOfDependents'].fillna(0)

On créé une nouvelle colonne nommée 'NumberTimePond' qui pondère chaque valeurs des colonnes 'NumberOfTime...' par 3, 2, 1 respectivement 90Days, 60-89Days, 30-59Days.

In [79]:
# Nouvelle colonne NumberTimePond 

for df in [fulltrain, test]:
    df.insert(5,"NumberTimePond",0)
    df['NumberTimePond'] = 3*df['NumberOfTimes90DaysLate'] + 2*df['NumberOfTime60-89DaysPastDueNotWorse']+ df['NumberOfTime30-59DaysPastDueNotWorse']

On vérifie que l'on obtient pas de valeurs maximales aberrantes en procédant comme suit, avec la colonne souhaitée.

```python
print(df['NumberOfTimes90DaysLate'].describe())```

In [85]:
# On enregistre nos modifications de fulltrain et test

fulltrain.to_csv('GMSCtrainmodif_v2.csv')
test.to_csv('GMSCtestmodif_v2.csv')

##### On peut ainsi charger notre fulltrainmodif dans notre source BigML puis effectuer des prédictions.
##### Après l'avoir mis dans notre source BigML, on créé notre dataset sur notre fulltrainmodif sur lequel on pourra créer un modèle Ensemble puis le spliter en 80-20 par exemple.

In [91]:
# On met l'ID BigML, la key et l'id du projet

api = BigML(project = 'project/5d94a41242129f2e16000244')

# On importe nos deux fichiers csv fulltrainmodif et testmodif dans la source BigML

source1 = api.create_source('GMSCtrainmodif_v2.csv')
source2 = api.create_source('GMSCtestmodif_v2.csv')

HTTP request error: ('Connection aborted.', OSError("(32, 'EPIPE')"))

2019-10-25 09:07:46,090: HTTP request error: ('Connection aborted.', OSError("(32, 'EPIPE')"))

HTTP request error: ('Connection aborted.', OSError("(32, 'EPIPE')"))

2019-10-25 09:10:45,928: HTTP request error: ('Connection aborted.', OSError("(32, 'EPIPE')"))

In [ ]:
# On créé notre dataset trainfull et test

train_dataset = api.create_dataset(source1)
test_dataset = api.create_dataset(source2)

Grâce à ces lignes de code, on va pouvoir effectuer un split de notre dataset, ici en 80-20.
```python
train_dataset = api.create_dataset(
    origin_dataset, {"name": " Xset | Training",
                     "sample_rate": 0.8, "seed": "my seed"})
test_dataset = api.create_dataset(
    origin_dataset, {"name": " Xset | Test",
                     "sample_rate": 0.8, "seed": "my seed",
                     "out_of_bag": True})
```
"out_of_bag" va nous permettre de prendre les 20% restant pour notre split sur le test, on laisse donc '0.8' pour "sample_rate" aux deux.

In [62]:
# On split notre dataset fulltrainmodif en 80-20

train_split = api.create_dataset(
    train_dataset, {"name": "GMSC - train_split", "sample_rate": 0.8, "seed": "my seed"})

dev_set = api.create_dataset(
    train_dataset, {"name": "GMSC - dev_set", "sample_rate": 0.8, "seed": "my seed", "out_of_bag": True})

Lors de la création du modèle Ensemble, on n'oublie pas de préciser l' "objective_field" qui sera la donnée sur laquelle on va faire une prédiction.  
Par la suite on va utiliser le batch prediction sur notre validation set pour évaluer notre modèle.

In [63]:
# Création d'un modèle Ensemble sur la partie Training du dataset 

ensemble = api.create_ensemble(train_split , {"objective_field" : "SeriousDlqin2yrs"})

In [64]:
# Batch prediction sur notre dev_set pour évaluer notre modèle

batch_prediction_ensemble = api.create_batch_prediction(ensemble, dev_set, {"all_fields": True, "Probabilities": True})
api.ok(batch_prediction_ensemble)

'''
On peut gérer les colonnes obtenues à la suite de notre batch prediction à l'aide de "all_fields", que l'on peut
remplacer par "output_fields" suivi des colonnes que l'on souhaite garder (['Id'], ['SeriousDlqin2yrs'], ...);
et "probabilities" qui nous permet d'obtenir les 1_proba et 0_proba.
'''

True

Si on le souhaite, on peut télécharger notre batch prediction :

In [65]:
# Téléchargement du batch prediction

api.download_batch_prediction(batch_prediction_ensemble, 
                              filename='BatchPrediction/GMSC_Prediction_Ensemble.csv')

'BatchPrediction/GMSCfulltrainm_Prediction_Ensemble_v2.csv'

On peut créer une prédiction selon un modèle et des critères :

```Python
prediction = api.create_prediction(ensemble, {"DebtRatio": 20 , "age": 20})
api.pprint(prediction)
```

Par la suite il nous reste juste à appliquer un batch prediction sur notre test_dataset qui contient les mêmes features que sur le train, supprimer la colonne 'SeriousDlqin2yrs', changer le nom de la colonne comme attendu sur Kaggle puis le soumettre.

In [24]:
batch_prediction_ensemble_kaggle = api.create_batch_prediction(ensemble, test_dataset, 
                                                               {"output_fields": ['Id'], "probability": True})
api.ok(batch_prediction_ensemble_kaggle)

True

On enregistre :

In [25]:
api.download_batch_prediction(batch_prediction_ensemble_kaggle, 
                              filename='BatchPrediction/GMSC_Prediction_Ensemble_kaggle.csv')

'BatchPrediction/GMSCfulltrainm_Prediction2_Ensemble.csv'

On supprime l'index, on met une majuscule à probability (pour kaggle) et on supprime la colonne SeriousDlqin2yrs :

In [12]:
from pandas import read_csv

final_submission=read_csv('./BatchPrediction/GMSCfulltrainm_Prediction2_Ensemble.csv', index_col=0)
final_submission.columns.values[1]='Probability'

In [14]:
del final_submission['SeriousDlqin2yrs']

On va enregistrer nos changements et soumettre à Kaggle :

In [16]:
import kaggle

final_submission.to_csv('GMSC_KaggleSubmission_Ensemble.csv')
submission_file = 'GMSC_KaggleSubmission_Ensemble.csv'
kaggle.api.competition_submit(submission_file, "BigML ensemble", "GiveMeSomeCredit")

100%|██████████| 1.73M/1.73M [00:36<00:00, 50.5kB/s]

Successfully submitted to Give Me Some Credit

On peut récupérer notre score ainsi que les précédents, envoyés sur Kaggle, en procédant comme suit :

```python
kaggle.api.competitions_submissions_list("GiveMeSomeCredit")```